.job-detail-banner {
    background         : url('/images/bg/5.jpg');
    background-size    : cover;
    background-position: center;
}
.recruter-banner {
    background         : url('/images/bg/6.jpg');
    background-size    : cover;
    background-position: center;
}
.candidate-banner {
    background         : url('/images/bg/7.jpg');
    background-size    : cover;
    background-position: center;
}

.responsibilities,
.requirements,
.skills {
    li {
        @apply text-gray-500 relative pl-4 py-2;

        &::before {
            content      : '';
            position     : absolute;
            left         : 0;
            top          : 16px;
            border-radius: 50px;
            height       : 6px;
            width        : 6px;
            background   : #666;
        }
    }
}