html,
body {
    @apply w-full h-full bg-white;
}


#__next {
    @apply w-full h-full;
}


.container {
    @apply mx-auto px-8
}

.section-padding {
    @apply py-12 sm:py-16 lg:py-24
}

h1 {
    @apply text-4xl font-medium;
}

h2 {
    @apply text-3xl font-medium;
}

h3 {
    @apply text-2xl font-medium;
}

h4 {
    @apply text-xl font-medium;
}

li {
    list-style: none;
}


*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid #555;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Hide scrollbar but maintain functionality */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
    width: 0;
    height: 0;
}


/* // cursor */

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 19;
    mix-blend-mode: difference;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.cursor-text {
    font-size: 5px;
    font-weight: 900;
    letter-spacing: 1px;
    display: none;
}